#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 65px; /* Place the button at the bottom of the page */
    right: 100px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    background-color: #2d2d2d; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: Gill Sans , sans-serif;
    border: 1px solid black;
}

.marginaalit {
    margin-left: 5%;
    margin-right: 5%;
}

.listansaadot {
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
}
.listansaadot tr:hover {
    color:black;
}

.alert {
    width:80%;
}